@charset 'utf-8';

:root {
  --main-color: #18a8b5;
  --background-color: #f1fafa;
  --point-color: #ca7d00;
  --sub-color: #56d2d8;
  --aside-color: #ffddddf6;
  --gray-color: #e7eaee;
  color: rgb(92, 92, 92);
}
body {
  background-color: var(--background-color);
}

.mw {
  max-width: 1920px;
  width: 100%;
  margin: auto;
}
.mw2 {
  max-width: 1920px;
  width: calc(100% - 8rem);
  margin: auto;
}
/* 헤더 영역 */
header {
  /* border: 1px solid red; */
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 800;
  padding: 0 2rem;
  border-bottom: 3px solid var(--sub-color);
}
.header_nav {
  /* border: 1px solid red; */
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  /* border: 1px solid red; */
}
/* gnb 영역 */
.gnb {
  /* border: 1px solid red; */
  /* display: flex; */
  width: 50%;
  height: 100%;

  /* justify-content: space-between; */
}
.gnb > ul {
  /* border: 1px solid red; */
  width: 100%;

  display: flex;
}
.gnb > ul > li {
  /* border: 1px solid red; */

  width: calc(100% / 6);
  z-index: 990;
  text-align: center;
}
.gnb > ul > li > a {
  /* border: 1px solid red; */
  display: flex;
  /* padding: 20% 0; */
  align-items: center;
  justify-content: center;
  font-weight: 900;
  color: var(--font-color);
  height: 50px;
  transition: 0.5s;
}
.gnb > ul > li > a ~ ul {
  /* display: none; */

  height: 0;
  /* display: none; */
  top: 50px;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  transition: 0.5s;
  overflow: hidden;
  background-color: white;
  border: 3px solid var(--sub-color);
  border-radius: 0 0 1rem 1rem;
  border-top: 0;
}
.gnb > ul > li > a:hover {
  background-color: var(--background-color);
  border-radius: 8px;
}
.gnb > ul > li:hover > a {
  font-weight: bolder;
  color: var(--main-color);
}
.gnb > ul > li:hover > a ~ ul {
  /* display: block; */

  height: 16rem;
}
.gnb > ul > li > ul > li > a {
  display: flex;
  height: calc(16rem / 6);
  align-items: center;
  color: var(--font-color);
  justify-content: center;
  transition: 0.3s;
}
.gnb > ul > li > ul > li > a:hover {
  background-color: var(--background-color);
  color: var(--main-color);
}
/* 아이콘 영역 */

.icons > a {
  display: inline block;
  margin: 0 0.5rem;
}
.main_pg {
  position: relative;
  /* border: 1px solid red; */
}

/* 왼쪽 배네 영역 */
aside {
  /* border: 1px solid red; */

  position: fixed;
  background-color: var(--aside-color);
  width: 25vh;
  height: 0;
  overflow: hidden;
  top: 50px;
  justify-content: space-between;
  /* opacity: 1;*/
  z-index: 800;
  transition: 0.5s;
  border-left: 3px solid var(--sub-color);
  border-right: 3px solid var(--sub-color);
}
aside.on {
  height: calc(100vh - 50px);
  display: block;
}
.banner_btn {
  width: 3vh;
  height: 3vh;
  top: 4vh;
  left: 11vh;
  border-radius: 50%;
  border: none;
  position: fixed;
  background-color: white;
  z-index: 810;
  transition: 0.5s;
  border: 3px solid var(--sub-color);
}
.banner_btn.on {
  top: 95vh;
}
.banner_btn > * {
  /* border: 1px solid red; */
  position: absolute;
  font-size: 2vh;

  color: var(--main-color);
}
.banner_btn .up {
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.banner_btn .up.on {
  display: block;
}
.banner_btn .down {
  z-index: 812;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}
.banner_btn .down.on {
  display: none;
}
.top_banner {
  /* border: 1px solid red; */
  /* width: 100%; */
  height: 43vh;
  /* margin: auto; */
  text-align: center;
}
.top_banner a {
  /* border: 1px solid red; */
  /* height: 100%; */
}
.top_banner > a > img {
  /* border: 1px solid red; */
  /* width: 100%; */
  height: 100%;
}

.event_title {
  /* border: 1px solid red; */
  padding: 0 1vh;
  height: 15vh;
}
.event_title > img {
  width: 100%;
  padding-top: 2vh;
}
.event_title > p:nth-of-type(1) {
  font-weight: bolder;
  letter-spacing: 0.5rem;
}
.event_title > p:nth-of-type(1) ~ p {
  color: white;
  font-size: 2.5rem;
  font-weight: bolder;
  letter-spacing: 0.2rem;
}
.event_banner {
  /* border: 1px solid red; */
  position: relative;
  height: 30vh;
}
.asideSwiper {
  text-align: center;
  height: 100%;
}
.asideSwiper li img {
  height: 100%;
}

.next1 {
  /* border: 1px solid red; */
  /* background-color: aliceblue; */
  width: 3vh;
  height: 3vh;
  top: -2vh;
}
.next1::after {
  font-size: 1vh;
  font-weight: bolder;
  background-color: white;
  color: var(--main-color);
  width: 2.5vh;
  height: 2.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.prev1 {
  width: 3vh;
  height: 3vh;
  top: -2vh;
  left: auto;
  right: 4vh;
}
.prev1::after {
  font-size: 1vh;
  font-weight: bolder;
  background-color: white;
  color: var(--main-color);
  width: 2.5vh;
  height: 2.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.mainImg {
  position: relative;
  /* border: 1px solid red; */
  /* margin-top: 10vh; */
  width: 100%;
  height: 35vw;
  max-height: 580px;
  overflow: hidden;
  background: url(/img/Artboard\ 1.jpg);
  background-size: cover;
  background-position: calc(40%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8rem;
}
.mainImg p:nth-of-type(1) {
  /* border: 1px solid red; */
  font-size: 2.5rem;
}
.sec1 {
  background-color: white;
  /* border: 3px solid var(--point-color); */
  padding: 6rem 6rem;
  margin: auto;
  margin-top: 10rem;
  width: 80%;
  /* border-radius: 2rem; */
}
.sec1_con div div:nth-of-type(2) {
  background-color: var(--gray-color);
}
.sec1_con div div:nth-of-type(2) p {
  margin-bottom: 1.5rem;
}
.sec1_con div div:nth-of-type(2) p:nth-of-type(1) {
  font-weight: bold;
  color: var(--point-color);
}
.sec1_con {
  /* border: 1px solid red; */
  display: grid;
  /* width: 1000px; */

  gap: 4rem;
  margin: auto;

  grid-template-columns: calc(70% - 2rem) calc(30% - 2rem);
  grid-template-rows: repeat(2, calc(50% - 2rem));
}
.sec1_con > * {
  /* border: 1px solid var(--point-color); */
  /* margin: auto; */
  overflow: hidden;
  padding: 1rem;
  /* border-radius: 2rem; */
  /* box-shadow: 0 0 8px var(--sub-color); */
}
.sec1_con .sec1_slide1 {
  display: flex;

  width: 100%;
}
.sec1_con .sec1_slide1 div:nth-of-type(1) {
  width: 60%;
  /* margin: auto; */
}
.sec1_con .sec1_slide1 div:nth-of-type(2) {
  width: 40%;
  display: flex;
  font-size: 0.9rem;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
.sec1_con .sec1_slide1 img {
  display: block;
  width: 100%;
}
.sec1_con .sec1_slide2 {
  display: flex;
  width: 100%;
}
.sec1_con .sec1_slide2 div:nth-of-type(1) {
  width: 60%;
}
.sec1_con .sec1_slide2 div:nth-of-type(2) {
  width: 40%;
  order: -1;
  display: flex;
  font-size: 0.9rem;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
.sec1_con .sec1_slide2 img {
  display: block;
  width: 100%;
}

.sec1_con .sec1_slide3 {
  height: 100%;
  /* margin: auto; */
}
.sec1_con .sec1_slide3 div:nth-of-type(1) {
  height: 70%;
  overflow: hidden;
}
.sec1_con .sec1_slide3 div:nth-of-type(2) {
  padding: 1.5rem;
  height: 30%;
}
.sec1_con .sec1_slide3 img {
  display: block;
  width: 100%;
}

.sec1_slide3 {
  grid-column: 2/3;
  grid-row: 1/3;
}
